#titulo-id {
    color: darkslateblue ;
}

.fundo {
    background: lightblue;
}

.texto- {
    color: aliceblue;
}

h2 {
    color: purple;
}

p {
    color: darkblue;
}

h2{
    color: rgb(17, 0, 255);
}

/* cascata */
/* especificação*/